@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
  background-color: #131020 !important;
}
::-webkit-scrollbar {
  background-color: #202224 !important;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a !important;
}

.caret {
  border-right: .15em solid #c29df1; /* The typwriter cursor */
  animation: blink 0.8s linear infinite;
}

.typewriterHome {
  color: #c29df1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .06em; /* Adjust as needed */
}
.typewriterHome::before {
  content: "home";
  animation: typeHome 1s;
}

.typewriterBeta {
  color: #c29df1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .06em; /* Adjust as needed */
}
.typewriterBeta::before {
  content: "beta";
  animation: typeBeta 1s;
}

.typewriterCoding {
  color: #c29df1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .06em; /* Adjust as needed */
}
.typewriterCoding::before {
  content: "coding";
  animation: typeCoding 1s;
}

.typewriterMusic {
  color: #c29df1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .06em; /* Adjust as needed */
}
.typewriterMusic::before {
  content: "music";
  animation: typeMusic 1s;
}

.typewriterAbout {
  color: #c29df1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .06em; /* Adjust as needed */
}
.typewriterAbout::before {
  content: "about_me";
  animation: typeAbout 1s;
}

/* The typing effect */

@keyframes typeHome {
  0% { content: ""; }
  25% { content: "h"; }
  50% { content: "ho"; }
  75% { content: "hom"; }
  100% { content: "home"; }
}

@keyframes typeBeta {
  0% { content: ""; }
  25% { content: "b"; }
  50% { content: "be"; }
  75% { content: "bet"; }
  100% { content: "beta"; }
}

@keyframes typeCoding {
  0% { content: ""; }
  16.6% { content: "c"; }
  33.3% { content: "co"; }
  50% { content: "cod"; }
  66.6% { content: "codi"; }
  83.3% { content: "codin"; }
  100% { content: "coding"; }
}
@keyframes typeMusic {
  0% { content: ""; }
  20% { content: "m"; }
  40% { content: "mu"; }
  60% { content: "mus"; }
  80% { content: "musi"; }
  100% { content: "music"; }
}
@keyframes typeAbout {
  0% { content: ""; }
  12.5% { content: "a"; }
  25% { content: "ab"; }
  37.5% { content: "abo"; }
  50% { content: "abou"; }
  62.5% { content: "about"; }
  75% { content: "about_"; }
  87.5% { content: "about_m"; }
  100% { content: "about_me"; }
}

/* The typewriter cursor effect */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

a {
  color: #f3bce6 !important;
}

code {
    font-size: larger !important;
}

ul {
  list-style: disc;
  color: #c29df1 !important;
}

h3 {
  color: #c29df1;
  text-decoration: underline;
}

p {
  color: #f3bce6;
  font-size: larger;
}

.nav-item>.active {
  color: #f3bce6 !important;
  text-decoration: underline !important;
  background-color: #24273a !important;
}


#webpagesContainer {
  border: #24273a solid 1px;
  padding: 5%;
}

#termInput {
  background-color: transparent;
  border: 1px #c29df1 solid;
  color: #f3bce6;
  width: 80%;
  height: 2em;
  font-family: 'Inconsolata', monospace;
}
#termInput:focus {
  outline: none;
}

#enterKey {
  float: right; 
  width: 15%;
  background-color: #24273a;
  color: #f3bce6;
  border: 0;
}

#termOutput {
  list-style: none;
}

#termOutput li {
  color: #c29df1;
  font-size: x-large;
  margin: 3%;
}

#o1 {
  font-size: xx-large !important;
  color: #f3bce6 !important;
  margin-bottom: 5%;
}

#content object {
  border: 2px #f3bce6 solid;
  width: 100%;
  height: 50em;
}